body {
   
  
    /* Positioning */
    
    font-family: Georgia, "Ariel", Times, serif;
  
    /* Visual */
    background: #3a3a37;

    nav color: #000000;

    contain: display: color: #000000
  }

Nav